{% extends "store/main.html" %}

{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
    .progress-icon-styling{
        margin-top: -3px !important;
        margin-left: -37px !important;
        z-index: 400 !important;
        color: white !important;
    }
</style>
{% block content%}
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--start breadcrumb-->
        <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
            <div class="container">
                <div class="page-breadcrumb d-flex align-items-center">
                    <h3 class="breadcrumb-title pe-3">Tracking</h3>
                    <div class="ms-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="javascript:;">Shop</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Order Tracking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!--end breadcrumb-->
        <!--start shop cart-->
        <section class="py-4">
            <div class="container">
                <h6 class="mb-0">Order ID: OD45345345435</h6>
                <hr>
                <div class="row row-cols-1 row-cols-lg-4 rounded-4 gx-3 m-0 border">
                    <div class="col p-4 text-center border-end">
                        <h6 class="mb-1">Estimated Delivery time:</h6>
                        <p class="mb-0">24 Apr 2021</p>
                    </div>
                    <div class="col p-4 text-center border-end">
                        <h6 class="mb-1">Shipping BY:</h6>
                        <p class="mb-0">BLUEDART | +91-9910XXXX</p>
                    </div>
                    <div class="col p-4 text-center border-end">
                        <h6 class="mb-1">Status:</h6>
                        <p class="mb-0">Picked by the courier</p>
                    </div>
                    <div class="col p-4 text-center">
                        <h6 class="mb-1">Tracking #:</h6>
                        <p class="mb-0">BD045903594059</p>
                    </div>
                </div>
                <!--end row-->
                <div class="mt-3"></div>
                <div class="checkout-payment">
                    <div class="card bg-transparent rounded-0 shadow-none">
                        <div class="card-body">
                            <div class="container py-5">
                                <div style="margin-left:10px">
                                    <div class="wrapper">
                                    <ul class="StepProgress">
                                      <div class="StepProgress-item is-done ">
                                        <div class="d-flex">
                                        <i style="margin-top: -2px !important;
                                        margin-left: -37px !important;
                                        z-index: 400 !important;
                                        color: white !important;" class='bx bx-info-circle fs-5 m-2'></i><strong style="margin-left: 10px">Order stage 1</strong>
                                        </div>
                                        </div>
                                      <div class="StepProgress-item is-done ">
                                        <div class="d-flex">
                                        <i style="margin-top: -2px !important;
                                        margin-left: -37px !important;
                                        z-index: 400 !important;
                                        color: white !important;" class='bx bx-info-circle fs-5 m-2'></i><strong style="margin-left: 10px">Order stage 2</strong>
                                        </div>
                                        </div>
                                      <div class="StepProgress-item is-done ">
                                        <div class="d-flex">
                                        <i style="margin-top: -2px !important;
                                        margin-left: -37px !important;
                                        z-index: 400 !important;
                                        color: white !important;" class='bx bx-info-circle fs-5 m-2'></i><strong style="margin-left: 10px">Order stage 3</strong>
                                        </div>
                                        </div>
                                      <div class="StepProgress-item is-done ">
                                        <div class="d-flex">
                                        <i style="margin-top: -2px !important;
                                        margin-left: -37px !important;
                                        z-index: 400 !important;
                                        color: white !important;" class='bx bx-info-circle fs-5 m-2'></i><strong style="margin-left: 10px">Order stage 4</strong>
                                        </div>
                                        </div>
                                      <div class="StepProgress-item is-done ">
                                        <div class="d-flex">
                                       <strong style="margin-left: 10px">Order stage 5</strong>
                                        </div>
                                        <small style="color:red;">Got more entries that you love? Buy more entries anytime! Just hover on your favorite entry and click the Buy button</small>
                                        </div>
                                    </ul>
                                    </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end shop cart-->
    </div>
</div>
<!--end page wrapper -->

{% endblock content%}