
{% extends "store/main.html" %}

{% load static%}
{% load category_tag%}
{% load discount_calculate %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content%}

<main class="main">
    <!-- Start of Page Content -->
    <nav class="breadcrumb-nav container">
        <ul class="breadcrumb bb-no">
            <li><a href="/">Home</a></li>
            <li>Product Search</li>
        </ul>
    </nav>
    <div class="page-content">
        <div class="container">
            {% if search_result%}
            <!-- Start of Shop Content -->
            <div class="shop-content pb-10">
                <!-- Start of Shop Main Content -->
                <div class="main-content">
                    <nav class="toolbox sticky-toolbox sticky-content fix-top">
                        <div class="toolbox-left">
                            <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle 
                                btn-icon-left"><i class="w-icon-category"></i><span>Filters</span></a>
                            <div class="toolbox-item toolbox-sort select-box text-dark">
                                <label>Sort By :</label>
                                <select id="orderby" name="orderby" onchange="product_sorting();" class="form-control">
                                    <option value="default" selected disabled hidden>Default sorting</option>
                                    <option id="total_review" value="popularity" {% if cur_ordering == 'popularity'%}selected{%endif%}>Sort by popularity</option>
                                    <option id="average_rating" value="average-rating"{% if cur_ordering == 'average-rating'%}selected{%endif%}>Sort by average rating</option>
                                    <option id="date_created" value="latest"{% if cur_ordering == 'latest'%}selected{%endif%}>Sort by latest</option>
                                    <option id="-itm_new_price" value="low-to-high" {% if cur_ordering == 'low-to-high'%}selected{%endif%}>Sort by pric: low to high</option>
                                    <option id="itm_new_price" value="high-to-low" {% if cur_ordering == 'high-to-low'%}selected{%endif%}>Sort by price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </nav>
                    <div class="product-wrapper row cols-md-4 cols-sm-2 cols-3 scroll-load">
                        {% for product in search_result%}
                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    
                                    <a href="{% url 'product_single' id=product.id %}">
                                        <img {% if product.product_images.image1%}
                                        src="{{product.product_images.image1.url}}" 
                                        {% elif product.product_images.image2%}
                                        src="{{product.product_images.image2.url}}" 
                                        {% elif product.product_images.image3%}
                                        src="{{product.product_images.image3.url}}" 
                                        {% elif product.product_images.image4%}
                                        src="{{product.product_images.image4.url}}" 
                                        {% elif product.product_images.image5%}
                                        src="{{product.product_images.image5.url}}" 
                                        {% else %} 
                                        src="" 
                                        {% endif %} alt="Product" width="300"
                                            height="338" />

                                        <img {% if product.product_images.image1%}
                                        src="{{product.product_images.image1.url}}" 
                                        {% elif product.product_images.image2%}
                                        src="{{product.product_images.image2.url}}" 
                                        {% elif product.product_images.image3%}
                                        src="{{product.product_images.image3.url}}" 
                                        {% elif product.product_images.image4%}
                                        src="{{product.product_images.image4.url}}" 
                                        {% elif product.product_images.image5%}
                                        src="{{product.product_images.image5.url}}" 
                                        {% else %} 
                                        src="" 
                                        {% endif %} alt="Product" width="300"
                                            height="338" />
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                            title="Wishlist"></a>
                                    </div>
                                    <div class="product-label-group">
                                        <label class="product-label label-discount">{{ product.itm_old_price|calculate_discount:product.itm_new_price }}%
                                            Off</label>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="#">{{product.itmclass}}</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="{% url 'product_single' id=product.id %}">{{product.itmname}}</a>
                                    </h3>
                                    <div class="product-cat">
                                        <a href="#">{{product.vendoraddedby.user.store}}</a>
                                    </div>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span id="ratings-{{forloop.counter}}" class="ratings" style="width: 0%;"></span>
                                            <script>
                                                var element = document.getElementById("ratings-"+{{forloop.counter}});
                                                
                                                var averageRating = {{product.average_rating}}; 
                                              
                                                var width = averageRating * 20 + "%";
                                                element.style.width = `${width}`;
                                              </script>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="{% url 'product_single' id=product.id %}" class="rating-reviews">({{product.total_review}} Reviews)</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            <ins class="new-price">₹{{product.itm_new_price}}</ins><del
                                                class="old-price">₹{{product.itm_old_price}}</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- End of Shop Main Content -->

                <!-- Start of Sidebar, Shop Sidebar -->
                <aside class="sidebar shop-sidebar left-sidebar sticky-sidebar-wrapper">
                    <!-- Start of Sidebar Overlay -->
                    <div class="sidebar-overlay"></div>
                    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                    <!-- Start of Sidebar Content -->
                    <div class="sidebar-content scrollable">
                        <div class="filter-actions">
                            <label>Filter :</label>
                            <a onclick="clean_filter();" class="btn btn-dark btn-link filter-clean">Clean All</a>
                        </div>
                        {% comment %} <!-- Start of Collapsible widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>All Categories</span></h3>
                            <ul class="widget-body filter-items search-ul">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Babies</a></li>
                                <li><a href="#">Beauty</a></li>
                                <li><a href="#">Decoration</a></li>
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Furniture</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Medical</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Watches</a></li>
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget --> {% endcomment %}

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Price</span></h3>
                            <div class="widget-body">
                                <ul class="filter-items item-check search-ul">
                                    <li><a id="0-500" onclick="product_filter_price(this.id);">₹0 - ₹500</a></li>
                                    <li><a id="500-1000" onclick="product_filter_price(this.id);">₹500 - ₹1000</a></li>
                                    <li><a id="1000-3000" onclick="product_filter_price(this.id);">₹1000 - ₹3000</a></li>
                                    <li><a id="3000-5000" onclick="product_filter_price(this.id);">₹3000 - ₹5000</a></li>
                                    <li><a id="5000+" onclick="product_filter_price(this.id);">₹5000+</a></li>
                                </ul>
                                <form class="price-range">
                                    <input type="number" id="min_price" name="min_price" class="min_price text-center"
                                        placeholder="₹min" value="{% if filter_min_price != 0%}{{filter_min_price}}{%endif%}"><span class="delimiter">-</span><input type="number"
                                        name="max_price" id="max_price" class="max_price text-center" placeholder="₹max" value="{% if filter_min_price != 0%}{{filter_max_price}}{%endif%}"><a
                                        onclick="product_filter_price_custom();" class="btn btn-primary btn-rounded">Go</a>
                                </form>
                            </div>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Size</span></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">Extra Large</a></li>
                                <li><a href="#">Large</a></li>
                                <li><a href="#">Medium</a></li>
                                <li><a href="#">Small</a></li>
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        {% comment %} <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Brand</span></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">Elegant Auto Group</a></li>
                                <li><a href="#">Green Grass</a></li>
                                <li><a href="#">Node Js</a></li>
                                <li><a href="#">NS8</a></li>
                                <li><a href="#">Red</a></li>
                                <li><a href="#">Skysuite Tech</a></li>
                                <li><a href="#">Sterling</a></li>
                            </ul>
                        </div> {% endcomment %}
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        {% comment %} <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Color</span></h3>
                            <ul class="widget-body filter-items item-check">
                                <li><a href="#">Black</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Brown</a></li>
                                <li><a href="#">Green</a></li>
                                <li><a href="#">Grey</a></li>
                                <li><a href="#">Orange</a></li>
                                <li><a href="#">Yellow</a></li>
                            </ul>
                        </div> {% endcomment %}
                        <!-- End of Collapsible Widget -->
                    </div>
                    <!-- End of Sidebar Content -->
                </aside>
                <!-- End of Shop Sidebar -->
            </div>
            <!-- End of Shop Content -->
            {% else %}
            <div class="shop-content pb-10">
                <!-- Start of Shop Main Content -->
                <div class="main-content">
                    <h4 class="text-center">No products found</h4>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-dark btn-rounded btn-icon-left btn-shopping mr-auto">Continue Shopping</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- End of Page Content -->
</main>

{% endblock content%}
