{% extends "store/main.html" %}

{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content%}

<div class="container py-3 border-bottom border-top d-none d-md-flex bg-light">
    <div class="page-breadcrumb ">
            <h3 class="breadcrumb-title pe-3 text-center">{{cur_category}}</h3>
    </div>
</div>


                    <!--start New Arrivals-->
                    <section class="py-4">
                        <div class="container">
							 <div class="separator pb-4">
							 </div>
							<div class="product-grid">
								<div class="new-arrivals owl-carousel owl-theme position-relative">
                                    {% for product in new_arrival%}
                                    {% if product%}
									 <div class="item">
                                        <div class="card p-2 rounded border dynamic-height">
                                            <div class="position-relative overflow-hidden">
                                                <div class=" position-absolute top-0 end-0">
                                                    <a  href="/add_to_favourite/{{product.id}}/" ><i 
                                                      {% if product.id in request.user.buyer.get_wishlist %}
                                                      style="color:red !important;"
                                                      {% endif %}
                                                      style="color:black;" class="bx bxs-heart"></i></a>
                                                    </div>
                                              <a href="{% url 'product_single' id=product.id %}">
                
                                                <img style="object-fit:contain;" 
                                                {% if product.product_images.image1%}
                                                 src="{{product.product_images.image1.url}}" 
                                                 {% elif product.product_images.image2%}
                                                 src="{{product.product_images.image2.url}}" 
                                                 {% elif product.product_images.image3%}
                                                 src="{{product.product_images.image3.url}}" 
                                                 {% elif product.product_images.image4%}
                                                 src="{{product.product_images.image4.url}}" 
                                                 {% elif product.product_images.image5%}
                                                 src="{{product.product_images.image5.url}}" 
                                                 {% else %} 
                                                 src="" 
                                                 {% endif %} 
                                                 class="w-100 p-3" alt="product-image">
                                            </a>
                                            </div>
                                            <div class="card-body px-0">
                                              <div class="d-flex align-items-center justify-content-between">
                                                  <div class="">
                                                    <a href="{% url 'product_single' id=product.id %}">
                                                        <p style="font-size: 0rem" class="mb-1 dynamic-font product-short-name">
                                                          {{product.itmclass|truncatewords:2}}
                                                        </p>
                                                        <h6 style="font-size: 0rem; height:40px" class="mb-0 fw-bold dynamic-font product-short-title">
                                                          {{product.itmname|truncatewords:3}}
                                                        </h6>
                                                        </a>
                                                  </div>
                                              </div>
                                              <div class="w-60 rates cursor-pointer" >
                                                <input style="margin:0px !important; padding:0px !important;"
                                                  type="stars"
                                                  class="rating container-fluid"
                                                  readonly
                                                  value="{{ product.average_rating }}"
                                                  data-size="xs"
                                                  data-stars="5"
                                                />
                                              </div>
                                              <div style="margin-top: -20px !important" class="ms-1">
                                                <p class="mb-0 dynamic-font">
                                                  <strong>{{product.total_review}} Ratings </strong>
                                                </p>
                                              </div>
                                              <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                                                <div
                                                class="h6 fw-light fw-bold text-secondary text-decoration-line-through"
                                              >
                                              <p class="mb-0 dynamic-font"> ₹{{product.itm_old_price}}</p>
                                              </div>
                                              <div class="h6 fw-bold"><p class="mb-0 dynamic-font">₹{{product.itm_new_price}}</p></div>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    {%else%}
                                    <h3>No products{{average_rating}}</h3>
                                    {% endif%}
                                    {% endfor %}
								</div>
							</div>
                        </div>
                    </section>
					<!--end New Arrivals-->


<section class="py-4 border-top">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col">
                <div class="bestseller-list mb-3">
                    <h6 class="mb-3 text-uppercase fw-bold">Best Selling Products</h6>
                    <hr>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/01.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Men Casual Shirts</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/02.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Formal Coat Pant</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/03.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Women Blue Jeans</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/04.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Yellow Track Suit</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="featured-list mb-3">
                    <h6 class="mb-3 text-uppercase fw-bold">Featured Products</h6>
                    <hr>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/05.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Men Sports Shoes</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/06.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Black Sofa Set</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/07.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Sports Watch</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/08.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Women Blue Heels</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="new-arrivals-list mb-3">
                    <h6 class="mb-3 text-uppercase fw-bold">New arrivals</h6>
                    <hr>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="jproduct-details.html">
                                <img src="assets/images/products/09.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Men Black Cap</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/10.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Orange Headphone</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/11.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Samsung Mobile</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/12.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Apple Notebook</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="top-rated-products-list mb-3">
                    <h6 class="mb-3 text-uppercase fw-bold">Top rated Products</h6>
                    <hr>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/13.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Ronaldo Football</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/14.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Red Fancy Sofa</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/15.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Sports Cycle</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center gap-3">
                        <div class="bottom-product-img">
                            <a href="product-details.html">
                                <img src="assets/images/products/16.png" width="80" alt="">
                            </a>
                        </div>
                        <div class="ms-0">
                            <h6 class="mb-0 fw-light mb-1 fw-bold">Circular Table</h6>
                            <div class="rating"> <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                            </div>
                            <p class="mb-0 pro-price"><strong>$59.00</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
</section>
{% endblock content%}